*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #000000;
}

.background{
    background-image: url('../img/background2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1.8px;
}

span{
    color: #f9004d;
}

nav ul li{
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}

nav ul li a:hover{
    color: #f9004d;
    transform: scale(1.2);
}

.Main{
   
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50);
}

h4{
    color: #b3dbd9;
    letter-spacing: 3px;
    font-size: 22px;
}

h1{
  color: #fff;
  margin:22px 0 22px  ;
  font-size: 80px;
  letter-spacing: 2px;
}
/*
h3{
    font-size:26px ;
    letter-spacing: 1.5px;
    margin-bottom: 60px;
    color: #b3dbd9;
    text-align: center;
}

 #animacao{
    background: -webkit-linear-gradient(-50deg, #fcfdfd, #e67f71, #00f5ff, #eb3e3e, #11aa, #0f0f03);
    -webkit-background-clip: text;
    background-clip: text ;
    color: transparent;
    animation: texto 5s steps(110, end) alternate infinite;
    white-space: nowrap;
    border-right: 2px solid white;
}

@keyframes texto{
    0%{
        width: 0;
        border-color: transparent;
    }

    50%{
        border-color: #fff;
    }

    100%{
        width: 100%;
        border-color: transparent;
    }
}
*/
/*-----------Animação do H3--------------*/
.containerh2{
    display: inline-flex;
    margin-bottom: 60px;
}

.containerh2 .estatico{
    color: #b3dbd9;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 300;
}

.dinamico{
    margin-left: 15px;
}



.dinamico li span{
    position: relative;
}

.dinamico li span{
    background: -webkit-linear-gradient(-50deg, #f17070, #ffffff, #00f5ff, #06f5c1, #fc06aa, #ffffff);
    -webkit-background-clip: text;
    background-clip: text ;
    color: transparent;
    animation: texto 5s steps(10)  infinite;
    white-space: nowrap;
    font-size: 27px;
    font-weight: 500;
    list-style: none;
    
}


@keyframes texto{
   
    0%{
        width: 0;
        border-color: transparent;
    }

    50%{
        border-color: #fff;
    }

    100%{
        width: 100%;
        border-color: transparent;
        margin: 0 -20px 0 20px;
    }
}

/*-----------FIMM!!!--------------*/

.btn{
    background-color: #f9004d;
    text-align: center;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .8s;
}

.btn a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.btn:hover{
    transform: scale(1.2);
    background-color:#230331;
    letter-spacing: 10px;
}

/*--------Formatação Sobre Mim-------------*/
.background-sobre{
    background-image: linear-gradient(to top, #2a226e, #845d559f);
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    border-bottom: 1px solid #000000bb;
}

.background-sobre img{
    width: 420px;
    height: auto;
    background-image: linear-gradient(to top, #413131, #5f52ce);
    border-radius: 10%;
    transition: all .55s ease;
}

.background-sobre img:hover{
    transform: translateY(-10px);
    -webkit-transform: scale(1.2);
}

/*----------MENU-RESPONSIVO------------*/
aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
   
}

.icon-menu .menu{
    font-size: 33px;
    color: #fff;
    margin-top: 15px;
    margin-right: 15px;
    display: none;
}

#barra-menu{
    background-color: #191919;
    height: 100vh;
    width: 0px;
    transition: 0.3s all;
}

#barra-menu ul li{
    list-style: none;
    padding: 15px;
}

#barra-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    width: 100%;
}

#barra-menu ul li a:hover{
    border: 1px solid #101010;
    border-radius: 20px;
    background-color: #858585;
    padding: 10px;
}

.C-icon{
    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
}

/*---------FIM-MENU-RESPONSIVO------------*/

.texto-sobre{
    width: 550px;
}

.Main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: 0 auto;
}

.texto-sobre h2{
    color: #fff;
    font-size: 77px;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#sub{
    color: #1c0166;
}
/*
EXEMPLOS 
#sub{
    color: #1c0166;
    background-image: linear-gradient(to top, #2a226e, #845d559f);
} */

.texto-sobre h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.texto-sobre p{
    color: rgba(231, 232, 235, 0.822);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 45px;
    text-indent: 25px;
}

/*--------FIM Sobre Mim-------------*/


/*-----------HABILIDADES---------------*/
.container-skill{
    background-image: linear-gradient(to bottom, #1b1646, #312522b0);
    width: 100%;
    padding: 100px 0;
}

.title h2{
    color: #fff;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
}

.card{
   /* background-color: #343e58; */
   border: 2px solid #000000;
    height: 360px;
    width: 360px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card:hover{
    background-image: linear-gradient(to right, rgba(49, 49, 77, 0.867), rgba(81, 125, 151, 0.623));
}

.card img{
    padding-top:20px ;
    width: 65px;
    margin: 25px 0;
}

.card h5{
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
}

.card p{
    color: #fae4fae0;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 30px;
}



.SKILL{
    font-size: 20px;
    color: #b3dbd9;
}



/*--------FORMAÇÕES-------------*/
.resume{
    background-image: linear-gradient(to bottom, #1b1646, #312522b0);
    background-attachment: fixed;
    width: 100%;
    padding: 100px 0;
    border-bottom: 1px solid #0000009a;
}


 .section-title h2 {
    color: #fff;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
  }

  .section-title p{
    color: rgba(231, 232, 235, 0.822);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
    text-indent: 25px;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #418530;
    position: relative;
    margin-left: 120px;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #cacaca;
    margin-bottom: 10px;
  }
  
.resume-item ul li, em{
    color: #ffefc3;
    font-size: 16px;
    letter-spacing: 2px;
}
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: rgb(230, 230, 230);
    border: 2px solid #1f9773;
  }
  
  /*-----------FIMM FORMAÇÕES---------------*/


  /*--------PROJETOS--------*/
#projetos {
    background-image: linear-gradient(to bottom, #1b1646, #251c1abb);
    padding: 100px 0;
}

.project{
    color: #fff;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center; 
} 


.god{
    background-image: url('../img/projeto-god-of-war.png');
    background-size: cover;
    transition: all .55s ease;
}

.god:hover{
    transform: translateY(-10px);
    -webkit-transform: scale(1.1);
}

.outlet {
    background-image: url('../img/pag1.png');
    background-size: cover;
    transition: all .55s ease;
}

.outlet:hover{
    transform: translateY(-10px);
    -webkit-transform: scale(1.4);
}


.super{
    background-image: url('../img/projeto-super-mario.png');
    background-size: cover;
    transition: all .55s ease;
}

.super:hover{
    transform: translateY(-10px);
    -webkit-transform: scale(1.1);
}


.projetos {
    padding-top: 9px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}


.github-link {
    margin: 0 auto;
    padding-top: 95px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
}

.github-link a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: #bb0f0f;
    width: 290px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 2.4s;
}

.github-link a:hover{
    background-color: #1b1646;
    transform: scale(1.2);
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 230px;
    width: 420px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}



.pro div {
    background-color: #705656;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}



.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}
 /*-------FIM-PROJETOS--------*/



/*------------FOOTER------------*/


footer{
    background-image: linear-gradient(to bottom left, #1b1646, #251c1abb);
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 19px;
    color: #fff;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 15px;
    letter-spacing: 1px;
}

.footer-p{
    margin-top: 10px;
    padding-top: 10px;
}

.redes-sociais{
    display: flex;
}

.redes-sociais  a{
    width: 45px;
    height: 45px;
    padding: 15px;
    margin: 22px 10px ;
}

.icon a{
    color: #fff;
    
}

/*-----------FIM-FOOTER------------*/

/*-----------BOTÃO------------*/
.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #bd2828;
    border-radius: 50%;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}
/*-----------FIM-BOTÃO------------*/

/*-----------RESPONSIVIDADE------------*/

@media  (max-width:375px){
    .icon-menu .menu{
        display: block;
    }

    #barra-menu{
        height: 100vh;
        z-index: 1;
    }

    .C-icon {
        background-color: #f9004d;
        color: #fff;
        text-transform: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 5px;
        border-radius: 30px;
        width: 150px;
        margin-left: 15px;
    }

    .Main h1, .estatico h3, .dinamico li{
        font-size: 20px;
    }

    .btn a{
        width: 150px;
        max-width: 100%;
        position: relative;
        margin-left: -2px;
    }

 

    .background-sobre{
        align-items: center;
        text-align: center;
    }

    .Main-sobre img{
        width: 280px;
        height: auto;
        border-radius: 10px;
        margin-left: -180px;
    }

    .texto-sobre h2{
        margin-left: -180px;
    }
}

/*---------FIMM--RESPONSIVIDADE------------*/
