@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@200&display=swap');

:root{
    --header-height: 3rem;
    --font-semi: 600;
}


:root{
    --first-color:#4070F4;
    --second-color:#0E2431;
}

:root{
    --body-font: 'Cinzel', serif;
    --body-font: 'Montserrat', sans-serif;
}